* {
    margin:15px; 
    padding:15px;
}
body{
    background-color: cadetblue;
}

input{
    display: block;
    font-size:25px;
    position: relative;
    left: 38%;
    bottom: 50%;
    border: 3px solid dimgray;
    text-align: center;
    color: black;
    text-shadow: black;
    background-color: white;
}
select{
    display: block;
    font-size:25px;
    position: relative;
    width: 350px;
    left: 38%;
    bottom: 30%;
    border: 3px solid dimgray;
    text-align: center;
    background-color: white;
}
button{
    display: block;
    font-size:25px;
    position: relative;
    left: 38%;
    bottom: 50%;
    background-color: white;
    width: 350px;
}
span{
    display: block;
    font-size:25px;
    position: absolute;
    left: 49%;
    text-align: center;
    color: white;
    text-shadow:2px 2px black;
    
}
::placeholder {
    text-align: center;}